
.error-block{
    height: 30px;
}

.login-modal-title {margin-bottom: 20px; line-height: 1.2;}
.or {position: relative; margin: 20px 0; text-align: center;}
.continue-button {display: block; width: 100%; margin-bottom: 12px; border: 1px solid #D3D3D3; border-radius: 4px; display: flex; align-items: center; justify-content: center; height: 48px; text-decoration: none !important;}
.continue-button:nth-last-child(1) {margin-bottom: 0;}

.continue-button img {margin-right: 15px;}


.password-Hint{
    display: inline-block;
}

.errorClass{
    color: #FD0A0E;
    font-size: 14px;
    padding: 5px;
    display: inline-block;
}
.margin-top-invaild{    
    margin-top: 0px !important;
    visibility: hidden !important;
}
.margin-top-vaild{
    margin-top: 30px;
    visibility: display;
}

.button-remove-margin{
    margin-top: 0px;
}

.removePadding{
    padding-left: 0px;
    padding-right: 0px;
}

.back-button{
    display: inline-block !important;
}

.form-block-invalid{
    margin-bottom: 0 !important;
}

