.password-Hint{
    display: inline-block;
}

.errorClass{
    color: #FD0A0E;
    font-size: 14px;
    padding: 5px;
    display: inline-block;
}
.margin-top-invaild{    
    margin-top: 0px !important;
    visibility: hidden !important;
}
.margin-top-vaild{
    margin-top: 30px;
    visibility: display;
}

.button-remove-margin{
    margin-top: 0px;
}

.removePadding{
    padding-left: 0px;
    padding-right: 0px;
}

.back-button{
    display: inline-block !important;
}

.form-block-invalid{
    margin-bottom: 0 !important;
}

