<div class="modal-content">
    <div class="login-modal-wrapp">
        <!-- cross and back buttons -->
        <a href="javascript:void(0);" aria-label="Close" class="close-button"
            (click)="activeModal.close('Close click')"><img src="../../../assets/images/cross.svg" alt=""></a>
        <a href="javascript:void(0);" class="back-button" *ngIf="blockName !== 'username'" (click)="previousPage()"><img
                src="../../../assets/images/back.svg" alt=""></a>
        <!-- left image -->
        <div class="login-modal-image-block">
            <div class="login-image-content-block">
                <div class="login-modal-title text-white">
                    Book a Home for a Vacation or Long Term
                </div>
                <p class="text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            </div>
        </div>

        <!-- right side section -->
        <div class="login-modal-content-wrapp position-relative">
            <div id="login_content">
                <div class="modal-right-content-block d-flex align-items-center"
                    *ngIf="blockName === 'username'; else password">
                    <div class="login-modal-content-block">
                        <div class="login-modal-title">Login or Register</div>
                        <form class="login-modal-form-wrapp" [formGroup]="emailForm" (ngSubmit)="submitUsername()">
                            <label>Email or Mobile Number</label>
                            <input type="text" formControlName="username" (focus)="notFocused=false" (focusout)="notFocused=true">

                            <div
                                [ngClass]="{'margin-top-vaild':true,  'margin-top-invaild':emailForm.controls.username.touched || emailForm.controls['username'].dirty && ((emailForm.controls['username'].hasError('required') || emailForm.controls['username'].hasError('email') ) && notFocused ) || submitted} ">
                            </div>
                            <!-- check error -->
                            <div
                                *ngIf="!emailForm.valid && ( (emailForm.controls.username.touched || emailForm.controls['username'].dirty ) && notFocused ) || submitted">
                                <small
                                    *ngIf="emailForm.controls['username'].hasError('required') || emailForm.controls['username'].hasError('email') "
                                    [ngClass]="{'errorClass': true}">
                                    Please enter valid Email ID/Mobile number
                                </small>
                            </div>
                            <!--  -->
                            <div [ngClass]="{'margin-top-vaild':emailForm.valid || !notFocused}"></div>
                            <button [ngClass]="{'podsliving-button':true, 'w-100': true, 'button-remove-margin': true }"
                                id="cont_with_mobile">Continue</button>
                            <div class="or gray-text">or</div>
                            <a class="continue-button" id="cont_with_goggle"><img
                                    src="../../../assets/images/google.svg" alt=""> Continue with Google</a>
                            <a class="continue-button" id="continue_with_social"><img
                                    src="../../../assets/images/facebook.svg" alt=""> Continue with Facebook</a>
                            <a class="continue-button"><img src="../../../assets/images/apple.svg" alt=""> Continue with
                                Apple</a>
                        </form>
                    </div>
                </div>
                <!-- password block -->
                <ng-template #password>
                    <div class="modal-right-content-block d-flex" *ngIf="blockName === 'password'; else registerAs">
                        <div class="login-modal-content-block">
                            <div class="login-modal-title">{{operationType | titlecase}}</div>
                            <form class="login-modal-form-wrapp" [formGroup]="passwordForm"
                                (ngSubmit)="submitPassword()">
                                <label>CreatePassword</label>
                                <input type="text" formControlName="password">
                                <div class="gray-text input-text-block password-Hint">8 to 16 characters long
                                    including special character</div>
                                <div
                                    [ngClass]="{'margin-top-vaild':true,  'margin-top-invaild':passwordForm.controls.password.touched || passwordForm.controls['password'].dirty && passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('minlength') || passwordForm.controls['password'].hasError('maxlength') }">
                                </div>
                                <!-- Password validation -->
                                <div
                                    *ngIf="!passwordForm.invalid || passwordForm.controls.password.touched || passwordForm.controls['password'].dirty">
                                    <span
                                        *ngIf="passwordForm.controls['password'].hasError('required') ; else paswordMinlength"
                                        [ngClass]="{'errorClass': true, 'w-100': true}">
                                        Password is required.
                                    </span>
                                    <ng-template #paswordMinlength>
                                        <span
                                            *ngIf="passwordForm.controls['password'].hasError('minlength'); else paswordMaxlength"
                                            [ngClass]="{'errorClass': true, 'w-100': true}">
                                            Password should contain atleast 8 characters.
                                        </span>
                                    </ng-template>
                                    <ng-template #paswordMaxlength>
                                        <span *ngIf="passwordForm.controls['password'].hasError('maxlength')"
                                            [ngClass]="{'errorClass': true, 'w-100': true}">
                                            Password should contain max 16 characters.
                                        </span>
                                    </ng-template>
                                </div>
                                <!--  -->
                                <div [ngClass]="{'margin-top-vaild':passwordForm.valid }"></div>
                                <button class="podsliving-button w-100 button-remove-margin"
                                    id="cont_with_mobile">Continue</button>
                            </form>
                        </div>
                    </div>
                </ng-template>
                <!-- register process continue/ login finish -->
                <!-- register as -->
                <ng-template #registerAs>
                    <div class="modal-right-content-block d-flex align-items-center"
                        *ngIf="blockName === 'role'; else registerDetail">
                        <div class="login-modal-content-block">
                            <div class="login-modal-title">Register as</div>
                            <div class="login-modal-form-wrapp">
                                <div class="row m-0">
                                    <div class="col-md-12 register-as-block removePadding"
                                        (click)="selectUserRole(this.role.data[0].id)">
                                        <label class="radio-img">
                                            <input type="radio" name="layout" />
                                            <div class="image d-flex">
                                                <div class="regiaster-as-contnet-wrapp">
                                                    <div class="register-as-title">Guest</div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry.</p>
                                                </div>
                                                <div class="register-as-image-block">
                                                    <img src="../../../assets/images/guest.PNG" alt="">
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-12 register-as-block removePadding"
                                        (click)="selectUserRole(this.role.data[1].id)">
                                        <label class="radio-img">
                                            <input type="radio" name="layout" />
                                            <div class="image d-flex">
                                                <div class="regiaster-as-contnet-wrapp">
                                                    <div class="register-as-title">Host</div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry.</p>
                                                </div>
                                                <div class="register-as-image-block">
                                                    <img src="../../../assets/images/host.PNG" alt="">
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-12 register-as-block removePadding"
                                        (click)="selectUserRole(this.role.data[2].id)">
                                        <label class="radio-img">
                                            <input type="radio" name="layout" />
                                            <div class="image d-flex">
                                                <div class="regiaster-as-contnet-wrapp">
                                                    <div class="register-as-title">Guest & Host</div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry.</p>
                                                </div>
                                                <div class="register-as-image-block">
                                                    <img src="../../../assets/images/guest-and-host.PNG" alt="">
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-12 form-block p-0">
                                        <button class="podsliving-button w-100"
                                            (click)="submitUserRole()">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <!-- last page of modal -->
                <ng-template #registerDetail>

                    <div class="modal-right-content-block d-flex">
                        <div class="login-modal-content-block">
                            <div class="login-modal-title">Register</div>
                            <form class="login-modal-form-wrapp" [formGroup]="registerForm">
                                <div class="row">
                                    <div class="col-md-12 form-block">
                                        <label>Title</label>
                                        <select class="form-select form-select-lg mb-3"
                                            aria-label=".form-select-lg example" formControlName="title">
                                            <option value="">Mr.</option>
                                            <option value="">Miss.</option>
                                            <option value="">Master</option>
                                            <option value="">Lorem ipsum</option>
                                            <option value="">Lorem ipsum</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label>First name</label>
                                        <input type="text" formControlName="firstName">
                                        <!-- first name error validtion -->
                                        <div
                                            [ngClass]="{'form-block':true,  'form-block-invalid':registerForm.controls.firstName.touched || registerForm.controls['firstName'].dirty && registerForm.controls['firstName'].hasError('required')}">
                                        </div>
                                        <div
                                            *ngIf="!registerForm.invalid || registerForm.controls.firstName.touched || registerForm.controls['firstName'].dirty">
                                            <div *ngIf="registerForm.controls['firstName'].hasError('required')"
                                                [ngClass]="{'errorClass': true, 'w-100': true}">
                                                First name is required.
                                            </div>
                                        </div>
                                        <div
                                            [ngClass]="{'form-block': !registerForm.controls['firstName'].hasError('required')}">
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-block">
                                        <label>Middle name</label>
                                        <input type="text" formControlName="middleName">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Last name</label>
                                        <input type="text" formControlName="lastName">
                                        <!-- last name error validation -->
                                        <div
                                            [ngClass]="{'form-block':true,  'form-block-invalid':registerForm.controls.lastName.touched || registerForm.controls['lastName'].dirty && registerForm.controls['lastName'].hasError('required')}">
                                        </div>
                                        <div
                                            *ngIf="!registerForm.invalid || registerForm.controls.lastName.touched || registerForm.controls['lastName'].dirty">
                                            <div *ngIf="registerForm.controls['lastName'].hasError('required')"
                                                [ngClass]="{'errorClass': true, 'w-100': true}">
                                                Last name is required.
                                            </div>
                                        </div>
                                        <div
                                            [ngClass]="{'form-block': !registerForm.controls['lastName'].hasError('required')}">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Phone Number</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <select class="form-select form-select-lg mb-3">
                                                    <option value="">+01</option>
                                                </select>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="number" formControlName="phoneNumber">
                                                <!-- phone number error -->
                                                <div
                                                    [ngClass]="{'form-block':true,  'form-block-invalid':registerForm.controls.phoneNumber.touched || registerForm.controls['phoneNumber'].dirty && registerForm.controls['phoneNumber'].hasError('required')}">
                                                </div>
                                                <div
                                                    *ngIf="!registerForm.invalid || registerForm.controls.phoneNumber.touched || registerForm.controls['phoneNumber'].dirty">
                                                    <div *ngIf="registerForm.controls['phoneNumber'].hasError('required')"
                                                        [ngClass]="{'errorClass': true, 'w-100': true}">
                                                        Phone Number is required.
                                                    </div>
                                                </div>
                                                <div
                                                    [ngClass]="{'form-block': !registerForm.controls['phoneNumber'].hasError('required')}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Email Address</label>
                                        <input type="email" formControlName="userName">
                                        <!-- emil -->
                                        <div
                                            [ngClass]="{'form-block':true,  'form-block-invalid':registerForm.controls.userName.touched || registerForm.controls['userName'].dirty && registerForm.controls['userName'].hasError('required') || registerForm.controls['userName'].hasError('email')}">
                                        </div>
                                        <div
                                            *ngIf="!registerForm.invalid || registerForm.controls.userName.touched || registerForm.controls['userName'].dirty">
                                            <div *ngIf="registerForm.controls['userName'].hasError('required'); else emailError"
                                                [ngClass]="{'errorClass': true, 'w-100': true}">
                                                Email is required.
                                            </div>
                                            <ng-template #emailError>
                                                <div *ngIf="registerForm.controls['userName'].hasError('email')"
                                                    [ngClass]="{'errorClass': true, 'w-100': true}">
                                                    Please enter valid Email ID
                                                </div>
                                            </ng-template>
                                            <div
                                                [ngClass]="{'form-block': !registerForm.controls['phoneNumber'].hasError('required') && !registerForm.controls['userName'].hasError('email')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-block">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <label>Date of Birth</label>
                                            <span class="gray-texy">Optional</span>
                                        </div>
                                        <div class="row" formGroupName="dateOfBirth">
                                            <div class="col-md-4">
                                                <select class="form-select form-select-lg mb-3" formControlName="day">
                                                    <option *ngFor="let day of days" value="day">{{day}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <select class="form-select form-select-lg mb-3" formControlName="month">
                                                    <option *ngFor="let month of months; let i= index" value="i+1">
                                                        {{month}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <select class="form-select form-select-lg mb-3" formControlName="year">
                                                    <option *ngFor="let year of years; let i=index" value="year">
                                                        {{year}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-block">
                                        <label>Gender</label>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="radio" id="male" name="gender" value="Male"
                                                    formControlName="gender">
                                                <label for="male">Male</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" id="female" name="gender" value="Female" formControlName="gender">
                                                <label for="female">Female</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="radio" id="don_not_prefer" name="gender" value="Do not prefer"
                                                    formControlName="gender">
                                                <label for="don_not_prefer">Do not prefer</label>
                                            </div>
                                            <!-- gender validation -->
                                            <div
                                            [ngClass]="{'form-block':true,  'form-block-invalid':registerForm.controls.gender.touched || registerForm.controls['gender'].dirty && registerForm.controls['gender'].hasError('required')}">
                                        </div>
                                        <div
                                            *ngIf="!registerForm.invalid || registerForm.controls.gender.touched || registerForm.controls['gender'].dirty">
                                            <div *ngIf="registerForm.controls['gender'].hasError('required')"
                                                [ngClass]="{'errorClass': true, 'w-100': true}">
                                                Gender is required.
                                            </div>
                                        </div>
                                        <div
                                            [ngClass]="{'form-block': !registerForm.controls['gender'].hasError('required')}">
                                        </div>
                                        <!-- ---- -->
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-block">
                                        <div class="checkbox">
                                            <input type="checkbox" id="agree_register_form">
                                            <label for="agree_register_form">Agree to <a href="#" class="red-text">Terms
                                                    & Conditions</a></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-block">
                                        <a href="create-a-listing.html" class="podsliving-button w-100 button-disable"
                                            id="register_form_continut_button">Continue</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>