<div>
    <section class="landing-banner-wrapp">
        <div class="landing-banner-content-wrapp">
            <div class="container">
               <div class="col-md-10 mx-auto">
                <h1 class="text-white">Book a Home for a Vacation or Long Term</h1>
                <p class="text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                <div class="landing-banner-form-wrapp">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="input-block">
                                <input type="text" placeholder="Where do you want to go?">
                                <img src="../../../../assets/images/location.svg" alt="" class="input-icon">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row no-gutters">
                                        <div class="col-md-6 arrive-wrapp">
                                            <div class="input-block">
                                                <input type="text" placeholder="Arrive">
                                                <img src="../../../../assets/images/date.svg" alt="" class="input-icon">
                                            </div>
                                        </div>
                                        <div class="col-md-6 depart-wrapp">
                                            <div class="input-block">
                                                <input type="text" placeholder="Depart">
                                                <img src="../../../../assets/images/date.svg" alt="" class="input-icon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-block">
                                        <input type="text" placeholder="Guest">
                                        <img src="../../../../assets/images/user.svg" alt="" class="input-icon">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button class="podsliving-button"><img src="../../../../assets/images/search-white.svg" alt="" class="search-icon">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="explore-carousel-wrapp gap-top">
            <h2>Explore Nearby Destinations</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
                <div class="explore-carosuel owl-carousel">
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/carousle-thumnail.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title">Toronto</div>
                                <div class="explore-carosuel-home-count-title gray-text">1,243 homes</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/carousle-thumnail.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title">Toronto</div>
                                <div class="explore-carosuel-home-count-title gray-text">1,243 homes</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/carousle-thumnail.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title">Toronto</div>
                                <div class="explore-carosuel-home-count-title gray-text">1,243 homes</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/carousle-thumnail.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title">Toronto</div>
                                <div class="explore-carosuel-home-count-title gray-text">1,243 homes</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/carousle-thumnail.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title">Toronto</div>
                                <div class="explore-carosuel-home-count-title gray-text">1,243 homes</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/carousle-thumnail.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title">Toronto</div>
                                <div class="explore-carosuel-home-count-title gray-text">1,243 homes</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/carousle-thumnail.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title">Toronto</div>
                                <div class="explore-carosuel-home-count-title gray-text">1,243 homes</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/carousle-thumnail.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title">Toronto</div>
                                <div class="explore-carosuel-home-count-title gray-text">1,243 homes</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/carousle-thumnail.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title">Toronto</div>
                                <div class="explore-carosuel-home-count-title gray-text">1,243 homes</div>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        
        <section class="explore-carousel-wrapp gap-top">
            <h2>Explore Homes Near You</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
                <div class="explore-carosuel owl-carousel">
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/explore-home.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title mb-1" data-toggle="tooltip" data-placement="top" title="Japanese inspire single room">Japanese inspire single room</div>
                                <div class="gray-text mb-1">Kensington Market</div>
                                <div class="explore-carousel-price-block">$150 per night</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/explore-home.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title mb-1" data-toggle="tooltip" data-placement="top" title="Japanese inspire single room">Japanese inspire single room</div>
                                <div class="gray-text mb-1">Kensington Market</div>
                                <div class="explore-carousel-price-block">$150 per night</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/explore-home.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title mb-1" data-toggle="tooltip" data-placement="top" title="Japanese inspire single room">Japanese inspire single room</div>
                                <div class="gray-text mb-1">Kensington Market</div>
                                <div class="explore-carousel-price-block">$150 per night</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/explore-home.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title mb-1" data-toggle="tooltip" data-placement="top" title="Japanese inspire single room">Japanese inspire single room</div>
                                <div class="gray-text mb-1">Kensington Market</div>
                                <div class="explore-carousel-price-block">$150 per night</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/explore-home.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title mb-1" data-toggle="tooltip" data-placement="top" title="Japanese inspire single room">Japanese inspire single room</div>
                                <div class="gray-text mb-1">Kensington Market</div>
                                <div class="explore-carousel-price-block">$150 per night</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/explore-home.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title mb-1" data-toggle="tooltip" data-placement="top" title="Japanese inspire single room">Japanese inspire single room</div>
                                <div class="gray-text mb-1">Kensington Market</div>
                                <div class="explore-carousel-price-block">$150 per night</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/explore-home.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title mb-1" data-toggle="tooltip" data-placement="top" title="Japanese inspire single room">Japanese inspire single room</div>
                                <div class="gray-text mb-1">Kensington Market</div>
                                <div class="explore-carousel-price-block">$150 per night</div>
                            </div>
                        </a>
                    </div>
                    <div class="expore-carosuel-block">
                        <a href="#">
                            <div class="exp-carosuel-image-block">
                                <img src="images/explore-home.png" alt="">
                            </div>
                            <div class="explore-carousel-content">
                                <div class="explore-carousel-title mb-1" data-toggle="tooltip" data-placement="top" title="Japanese inspire single room">Japanese inspire single room</div>
                                <div class="gray-text mb-1">Kensington Market</div>
                                <div class="explore-carousel-price-block">$150 per night</div>
                            </div>
                        </a>
                    </div>
                </div>
        </section>
        <section class="promotion-banner-wrapp gap-top">
            <div class="promotion-content-wrapp">
                <div class="promotion-title">Lease a Property in 5 easy steps</div>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                    <a href="#" class="podsliving-button">Learn More</a>
            </div>
        </section>
    
        <section class="make-us-special-wrapp gap-top">
            <div class="text-center">
                <h2>What makes us special</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                <div class="row make-us-special-content-wrapp gap-top-70">
                    <div class="col-md-3 make-us-special-block">
                        <div class="make-us-special-image-block">
                            <img src="../../../../assets/images/mus-1.svg" alt="">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                    </div>
                    <div class="col-md-3 make-us-special-block">
                        <div class="make-us-special-image-block">
                            <img src="../../../../assets/images/mus-2.svg" alt="">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                    </div>
                    <div class="col-md-3 make-us-special-block">
                        <div class="make-us-special-image-block">
                            <img src="../../../../assets/images/mus-3.svg" alt="">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                    </div>
                    <div class="col-md-3 make-us-special-block">
                        <div class="make-us-special-image-block">
                            <img src="../../../../assets/images/mus-4.svg" alt="">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="promotion-banner-wrapp gap-top become-partner-wrapp">
            <div class="promotion-content-wrapp">
                <div class="promotion-title text-white">Become a Partner</div>
                    <p class="text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
                    <a href="#" class="podsliving-button">Learn More</a>
            </div>
        </section>
    </div>
</div>
